<div class="w-full flex justify-center items-center">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13405.448847096648!2d-96.66580569819439!3d32.86213467688102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ea7007839d941%3A0xb462420cb5d72cc1!2sSafeguard%20Laboratories!5e0!3m2!1ses-419!2smx!4v1752740816137!5m2!1ses-419!2smx"
    width="100vw"
    height="40vh"
    style="border:0; min-height:30vh; width:100%;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>