---
import backgroundImage from '../assets/ProductionTrack.png';
import '../styles/global.css';
---

<section id="manufacturing" class="relative flex items-center justify-center overflow-hidden min-h-[100vh]">
  <!-- Imagen de fondo -->
  <div class="absolute inset-0 z-0">
    <img
      src={backgroundImage.src}
      alt="Scientific background"
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

  <!-- Contenido principal -->
  <div class="relative z-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full flex items-center justify-center">
    <!-- Contenido de texto -->
    <div id="section2-content" class="text-center lg:text-center space-y-6 lg:space-y-8 order-1 lg:order-2 mx-auto">
      <div class="section2-title">
        <h2 class="font-[Antonio] text-[#01ffff] leading-tight">
          <span class="block text-[clamp(3rem,7.6vw,6rem)]">TURNKEY LIQUID</span>
          <span class="block text-[clamp(2.7rem,7vw,5.6rem)]">MANUFACTURING</span>
        </h2>
      </div>
      <div class="section2-content">
        <p class="text-xs sm:text-md lg:text-xl text-white leading-relaxed font-[Montserrat] font-light">
          From custom formulation and testing to high-capacity <br>
          blending, filling, and packaging, we deliver reliable <br>
          solutions with precision, speed, and care
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  // Animación de entrada y salida para el título
  gsap.from('.section2-title',{
    y: 50, 
    opacity: 0,
    stagger: 0.2,
    duration: 1,
    delay: 0.5,
    ease: 'power2.out',
    scrollTrigger: {
      trigger: '.section2-title',
      start: 'top 85%',
      toggleActions: 'restart none restart none'
    }
  });
  // Animación de entrada y salida para el contenido
  gsap.from('.section2-content', {
    y: 50,
    opacity: 0,
    duration: 1,
    stagger: 0.2,
    delay: 0.9,
    ease: 'power2.out',
    scrollTrigger: {
      trigger: '.section2-content',
      start: 'top 85%',
      toggleActions: 'restart none restart none'
    }
  });
</script>